.black {
    background-color: #000;
}

.Title-Category {
    color: #000;
    text-decoration: none;
}

.Title-Header {
    color: #fff;
    text-decoration: none;
}

.a-none {
    text-decoration: none; 
}

.ArtImg {
    border-radius: 5px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.13);
}

p {
    font-family: 'Montserrat', sans-serif;
}

h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
}

li {list-style:none; } 

.card {
    box-shadow: 3px 5px 5px 2px rgb(0, 0, 0, 0.13);
}

.MenuCategory:hover {
    color: #2192D1!important;
}

.footer {
    position: relative;
    bottom: 0;
}