body {
    background-color: #fff;
    margin: 0px;
    color: #1e1e1e;
}

a {
    transition: color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 15px 15px;
}

a:hover {
    color: #2192d1;
}

html body header {
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
    box-shadow: 3px 0 5px #aaa;
    padding: 15px 30px;
}

header .logo {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 700;
}

html body nav ul {
    list-style-type: none;
    font-size: 16px;
}

html body nav ul li {
    display: inline-block;
}

html body footer {
    background-color: #1e1e1e;
    box-shadow: 3px 0 5px #aaa;
    padding: 15px 30px;
    margin-top: 10px;
}

html body footer p { 
    transition: color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.icons {
    margin: 25px 0;
    width: 100%;
    display: flex;
    justify-content: space-around
}

.Title {
    margin-top: 10px;
}

.Title a {
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    
    color: #000;
}

.Article {
    height: 100px;
}

.Category {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
}

.Category a {
    padding: 0 0 0 0;
    height: 200px;
}

.ViewArticle {
    background-color: beige;
    color: #000;
    width: 300px;
    height: 180px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 3px 0 5px #aaa;
    text-align: center;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}

.ViewArticle Img {
    width: 300px;
    height: 180px;
    border-radius: 10px;
}

.ArtImageOpacity Img{
    opacity: 0.5;
    width: 100%;
    height: 300px;
    
}

.ArtImage Img {
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 0 5px #aaa;

    /* position: absolute; */
}

.ArtImage {
    display: flex;
    justify-content: center;
}