.black {
    background-color: #000;
}

.Title-Category {
    color: #000;
    text-decoration: none;
}

.Title-Header {
    color: #fff;
    text-decoration: none;
}

.a-none {
    text-decoration: none; 
}
