<!DOCTYPE html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Open Graph data -->
    {% block meta %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet"> 
</head>

<body>
    <div class="container-fluid sticky-top bg-black">
        <header class="bg-black text-white">
            <div class="row">
                <div class="col-2 d-flex align-items-center">
                    <img id="temperatura-icono" src="">
                    <h5 id="temperatura-valor" class="text-white ps-4"></h5>
                    <!-- <h5 id="temperatura-ciudad" class="text-white px-2"></h5> -->
                </div>
                <div class="col p-3 d-flex justify-content-evenly">
                    <a class="Title-Header" href="/">
                        <img class="img-fluid mx-auto d-block" style="max-height: 55px;" src="../static/Img/logo.svg">
                    </a>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-end">
                    <a class="px-4" data-bs-toggle="offcanvas" href="#offcanvasExample" role="" aria-controls="offcanvasExample">
                        <img src="../static/Img/menu-outline.svg" style="height: 35px;">
                    </a>
                </div>
            </div>
        </header>
    </div>

    <div class="offcanvas offcanvas-end bg-black" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-black" data-bs-dismiss="offcanvas">
                        <img style="width: 30px;" src="../static/Img/back.png">
                    </button>
                </div>
                <div class="col d-flex align-items-center">
                    <h5 class="offcanvas-title text-white" id="offcanvasExampleLabel">Categorías</h5>
                </div>
            </div>
        </div>
        <div class="offcanvas-body">
            <div>
                <form class="d-flex" method="get">
                    <input id="search" name="search" class="form-control me-1" type="search" placeholder="Buscar" aria-label="Search">
                    <button type="submit" class="btn btn-black" for="search">
                        <img src="../static/Img/search.svg">
                    </button>
                </form>
            </div>
            <br/>
            <div>
                <ul class="list-group">
                    {% for category in categorys %}
                    <li class="nav">
                        <h5>
                            <a class="nav-link text-white MenuCategory" href="{{ url_for('category_layout' ,idCategory=category['id_category']) }}">
                                <img style="width: 30px;" src="{{ category['icon'] }}">
                            {{ category['description'] }}
                            </a>
                        </h5>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="position-absolute bottom-0">
                <p class="text-white px-4"><label class="bold">Sobre nosotros:</label> <br/>
                Somos un periódico digital enfocado en lo político con sede en la ciudad de Chihuahua
                </p>
                <div class="row d-flex justify-content-evenly bg-black">
                    <div class="col bg-black">
                        <a class="a-none" href="https://www.facebook.com/ElDemocrataMex/?ref=page_internal">
                            <img class="rounded mx-auto d-block" style="width: 40px;" src="../static/Img/fblogo.png">
                        </a>
                    </div>
                    <div class="col">
                        <a class="a-none" href="https://instagram.com/eldemocratamex?utm_medium=copy_link">
                            <img class="rounded mx-auto d-block" style="width: 40px;" src="../static/Img/iglogo.png">
                        </a>
                    </div>
                    <div class="col">
                        <a class="a-none" href="https://www.tiktok.com/@eldemocratamex">
                            <img class="rounded mx-auto d-block" style="width: 40px;" src="../static/Img/tiktoklogo.png">
                        </a>
                    </div>
                    <div class="col">
                        <a class="a-none" href="https://twitter.com/ElDemocrataMex">
                            <img class="rounded mx-auto d-block" style="width: 40px;" src="../static/Img/twlogo.png">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col bg-black" style="height: 40px;">
        
                    </div>
                </div>
            </div>
        </div>
    </div>

    


    {% block content %}{% endblock %}
    <br>

    <div class="container-fluid bg-black text-white footer">
        <div class="row">
            <div class="col bg-black" style="height: 10px;">

            </div>
        </div>

        <div class="row d-flex justify-content-start">
            <div class="col bg-black">
                <p class="text-white" style="font-weight: bold !important;">Sobre nosotros:</p>
                <p class="text-white">Somos un periódico digital enfocado en lo político con sede en la ciudad de Chihuahua</p>
                <a href="mailto:contacto@eldemocrata.mx">contacto@eldemocrata.mx</a>
            </div>
        </div>
        <div class="row">
            <div class="col bg-black" style="height: 10px;">
            </div>
        </div>
        <div class="row d-flex justify-content-evenly bg-black">
            <div class="col bg-black">
                <a class="a-none" href="https://www.facebook.com/ElDemocrataMex/?ref=page_internal">
                    <img class="rounded mx-auto d-block" style="width: 40px;" src="../static/Img/fblogo.png">
                </a>
            </div>
            <div class="col">
                <a class="a-none" href="https://instagram.com/eldemocratamex?utm_medium=copy_link">
                    <img class="rounded mx-auto d-block" style="width: 40px;" src="../static/Img/iglogo.png">
                </a>
            </div>
            <div class="col">
                <a class="a-none" href="https://www.tiktok.com/@eldemocratamex">
                    <img class="rounded mx-auto d-block" style="width: 40px;" src="../static/Img/tiktoklogo.png">
                </a>
            </div>
            <div class="col">
                <a class="a-none" href="https://twitter.com/ElDemocrataMex">
                    <img class="rounded mx-auto d-block" style="width: 40px;" src="../static/Img/twlogo.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col bg-black" style="height: 10px;">

            </div>
        </div>
    </div>



    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="../static/script.js"></script>
</body>