<!DOCTYPE html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Open Graph data -->
    {% block meta %}{% endblock %}
</head>
<body>
    <header>
        <a href="/">
            <div class="logo">El Democrata</div>
        </a>
        <!--
            <div class="v-image__image v-image__image--contain" style="background-image: url(&quot;https://image-and-resources.s3.amazonaws.com/logo.svg&quot;); background-position: center center;"></div>
        -->
        <nav>
            <ul>
                {% for category in categorys %}
                <li><a href="{{ url_for('category_layout' ,idCategory=category['id_category']) }}">{{ category['description'] }} </a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <section>{% block content %}{% endblock %}</section>
    <footer >
        <div>
            <p>Nosotros</p>
            <p>Somos un periódico digital enfocado en lo político con sede en la ciudad de Chihuahua</p>
        </div>
        <div>
            <a href="mailto:contacto@eldemocrata.mx">contacto@eldemocrata.mx</a>
        </div>
        <div class="icons">
            <a class="icon-link" href="https://www.facebook.com/ElDemocrataMex/?ref=page_internal" >
                <img class="redes" src="../static/Img/fblogo.png">
            </a>
            <a  class="icon-link" href="https://instagram.com/eldemocratamex?utm_medium=copy_link">
                <img class="redes" src="../static/Img/iglogo.png">
            </a>
            <a  class="icon-link" href="https://twitter.com/ElDemocrataMex" class="icon-link">
                <img class="redes" src="../static/Img/twlogo.png">
            </a>
        </div>
    </footer>
</body>