{% extends 'base.html' %}

{% block title %}
El Democrata
{% endblock %}

{% block content %}
<div class="hero">
    {% for category in  categorys %}
    <div class="Title">{{ category['description'] }}</div>
    <div class="Category">      
        {% for article in news %}
            {% if article['id_category'] == category['id_category'] %}
        <a href="{{ url_for('article_layout', idArticle=article['id_news']) }}">
            <div class="ViewArticle">
                <p>{{ article['title'] }}</p>
            </div>
        </a>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}